.editor {
    height: 400px;
}

.btn {
    padding: 6px 7px;
    border-radius: 5px;
    border: 1px solid;
    background-color: #fff;
    color: #000;
    transition: all cubic-bezier();
    font-size: 16px;
    outline: unset;
}

.btn:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.error {
    color: #bd3b3b;
}
